/* Genel stiller */
body {
    font-family: Roboto;
    background-color: #ffffe9;
    /* background-color: #fff; */
  }


/* Tüm butonlar için stil tanımlamaları */
.btn {
    background-color: transparent; /* Arka plan rengi şeffaf */
    color: rgba(120, 53, 15, 1); /* Yazı rengi */
    border: 2px solid rgba(120, 53, 15, 1); /* Kenarlık rengi */
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
}

/* Tüm butonlar hover stil tanımlamaları */
.btn:hover {
    background-color: rgba(120, 53, 15, 1); /* Arka plan rengi */
    color: #fff; /* Yazı rengi */
}

  /* NAVBAR START */
.navbar{
    padding: 31px 100px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: bold;
    color: #78350F;
    gap: 16px;
}
.navbar-nav .nav-link {
    color: rgba(120, 53, 15, 1);
    font-size: 18px;
    margin: 8px;
    
}
.navbar-nav .nav-link:hover {
    color: rgba(150, 73, 35, 1);
}
/* Sign Up Now butonu stil tanımlamaları */
.navbar-nav .btn-light {
    background-color: transparent; /* Arka plan rengi şeffaf */
    color: rgba(120, 53, 15, 1); /* Yazı rengi */
    border: 2px solid rgba(120, 53, 15, 1); /* Kenarlık rengi */
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
    border-color: rgba(120, 53, 15, 1);
    width: 149px;
    height: 48px;
}
/* Sign Up Now butonu hover stil tanımlamaları */
.navbar-nav .btn-light:hover {
    background-color: rgba(120, 53, 15, 1); /* Arka plan rengi */
    color: #fff; /* Yazı rengi */
}
/* NAVBAR END */



/* SECTION-1 START */
.section-1 {
   margin-top: 10%;
   
}

.custom-content {
    font-family: 'Roboto';
    font-style: normal;
    color: #0F172A;
}

.custom-content .btn {
    border-radius: 8px;
    font-size: 20px;
    width: 179px;
    height: 56;
}

.custom-content h1 {
    font-weight: 800;
    font-size: 72px;
}

.custom-content p {
    font-weight: 400;
    font-size: 18px;
}
.custom-image {
    margin-top: -120px;
    margin-left: 100px;
}
.section-1 .no-border {
    border: none;
}
.section-1 button {
    height: 56px;
}
/* SECTION-1 END */



/* SECTION-2 START */
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 950px solid #FEF3C7; /* Alt kenarlık genişliğini artırın */
    border-left: 1600px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    bottom: -300px; /* Sectionların üstüne gelecek şekilde ayarlayın */
    right: 0;
    z-index: -1;
}
.section-2{
   margin-top: 15%;
}
.cross-image1 {
    width: auto; /* Resimlerin genişliği yüzde 100 olacak şekilde ayarlandı */
    height: auto; /* Resimlerin yüksekliği otomatik olarak ayarlanacak */
    display: block; /* Resimlerin blok öğeler olarak görüntülenmesini sağlar */
    margin-bottom: -70px; /* Resimlerin altında boşluk bırakmak için negatif bir alt boşluk eklenir */
}
.cross-image2 {
    width: auto; /* Resimlerin genişliği yüzde 100 olacak şekilde ayarlandı */
    height: auto; /* Resimlerin yüksekliği otomatik olarak ayarlanacak */
    display: block; /* Resimlerin blok öğeler olarak görüntülenmesini sağlar */
    margin-bottom: -70px; /* Resimlerin altında boşluk bırakmak için negatif bir alt boşluk eklenir */
    margin-left: 30px;
}
.section-2 h5 {
    font-size: 20px;
    margin-top: 28%;
}
.section-2 p {
    font-size: 18px;
}

/* SECTION-2 END */



/* SECTION-3 START */
  .section-3 {
    background-color: #0F172A; /* Arka plan rengi */
    padding: 80px 80px; /* İçeriğin etrafındaki boşluk */
    margin-bottom: 80px; /* Dıştan gelen boşluk */
    margin-top: 80px;
    color: #fff;
    background-image: url('/img/Backlights.svg'); 
    background-size:90%; /* Resmi kaplamak için */
    background-position: center; /* Resmi ortalamak için */
    background-repeat: no-repeat;
}
 .section-3 h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
 }
 .section-3 h3{
    font-size: 24px;
    padding: 20px;
 }
 .section-3 p {
    font-size: 18px;
    padding: 20px;
 }
 .product-box {
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 40px;
    transition: box-shadow 0.3s ease;
    background-color: #0F172A;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3); /* Beyaz gölge */
    padding-bottom: 30px;
  }
  .product-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  .product-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .product-box .btn {
    width: 330px;
    height: 56px;
    border-radius: 8px;
    border: 2px solid transparent; /* Kenarlık rengi şeffaf olarak ayarlandı */
    background: rgba(255, 255, 255, 0); /* Arka plan rengi şeffaf olarak ayarlandı */
    color: #000000; /* Buton metin rengi */
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.product-box .btn:hover {
    background-color: rgba(255, 255, 255, 0); /* Hover durumunda arka plan rengi şeffaf */
    border-color: #952727; /* Hover durumunda kenarlık rengi beyaz */
    color: #FFFFFF; /* Hover durumunda metin rengi beyaz */
    
}

.section-3 .btn2{
    width: 233px;
    height: 64px;
    border-radius: 8px;
    border: 2px solid transparent; /* Kenarlık rengi şeffaf olarak ayarlandı */
    background: rgba(255, 255, 255, 0); /* Arka plan rengi şeffaf olarak ayarlandı */
    color: #000000; /* Buton metin rengi */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 24px;
}

.section-3 .btn2:hover {
    border-color: #952727; /* Hover durumunda kenarlık rengi beyaz */
}

 /* SECTION-3 END */


/* SECTION-4 END */
 /* Yuvarlak kutu stil tanımlamaları */
 .rounded-box {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center; /* İçeriği dikeyde ortala */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Gölgeli efekt */
}

  
  /* Sol içerik stil tanımlamaları */
  .left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
    
  }
  
  /* Başlık stil tanımlamaları */
  .left-content h2 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 5%; 
    margin-left: -5%;
  }

  /* Liste stil tanımlamaları */
  .left-content ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Liste elemanlarını yatayda sola hizala */
    font-size: 20px;
  }
  
  .left-content ul li {
    margin-bottom: 10px;
    position: relative;
  }

  .left-content ul li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0cba58;
    position: absolute;
    left: -20px;
  }

  .left-content ul li.checked::before {
    content: "\2713"; /* Onay işareti Unicode karakteri */
    color: green; /* Onay işareti rengi */
}

.left-content button {
    font-size: 20px;
    width: 179px;
    height: 56px;
    margin-left: -5%;
    margin-top: 2%;
}
.button-container {
    display: flex;
    justify-content: center; /* Butonu yatayda ortala */
}

  /* Sağ içerik stil tanımlamaları */
  .right-content {
    margin-left: 20px;
    position: relative;
  }
  
  /* Resim stil tanımlamaları */
  .right-content img {
    width: 100%;
    border-radius: 8px;
  }
  
  
  /* Sağ içeriği yatayda (soldan sağa) düzenlemek için */
  .right-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Resimlerin boyutlarını ayarlamak için */
  .right-content .image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* İlk resmi konumlamak için */
  .right-content .image-container img:first-child {
    position: absolute;
    z-index: 1;
  }
  
  /* İkinci resmi konumlamak için */
  .right-content .image-container img:last-child {
    position: relative;
    z-index: 2;
  }
  
/* SECTION-4 END */


/* SECTION-5 START */
.horizontal-rectangle {
    background-color: #FDE68A;
    width: 1360px;
    height: 421px;
    margin-top: 20px;
    border-radius: 20px;
  }
.section-5 {
    text-align: center;
    margin-top: 10%;
}

.section-5 h2 {
    font-size: 56px;
    text-align: left;
}

.button-container {
    display: flex; /* Butonları yatayda hizalamak için */
    justify-content: flex-end; /* Butonları sağa yaslamak için */
    align-items: center; /* Dikeyde ortalamak için */
}
    
.button-container button {
    border-radius: 50%; /* Yuvarlak butonlar için */
    margin-left: 10px; /* Butonlar arasında boşluk bırakmak için */
}
  
.square {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 430px;
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr; /* Sadece bir sütun */
    grid-template-rows: auto auto 1fr; /* İlk iki satırın içeriğe göre ayarlanması */
}

.square > * {
    margin: 10px; /* İçerikler arasında boşluk bırak */
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    max-width: 100%;
    height: auto;
}

.logo-title h4 {
    color: #475569;
    font-size: 24px;
    margin: 10px; /* Başlığın içindeki boşlukları kaldır */
    text-align: left;
}

.logo-title h5 {
    margin: 10;
    font-size: 18px;
    text-align: left;
    display: flex;

}

.logo-title p {
    margin: 10;
    font-size: 16px;
    text-align: left;
    color: #475569;
}

.text-content {
    margin-left: 10px; /* Logo ile metin arasına boşluk bırakmak için */
    display: flex;
    flex-direction: column;
}

.text-content h5,
.text-content p {
    margin: 0; /* Öğeler arasındaki boşluğu kaldır */
    font-size: 18px;
    text-align: left;
    color: #475569;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content p {
    font-size: 24px;
    text-align: left;
}



  
  
  
  
/* SECTION-5 END */


/* FOOTER START */
footer {
    background-color: #0F172A;
    color: #E2E8F0; /* Yazı rengini daha soft bir ton olarak güncelledik */
    padding: 40px 0;
    font-size: 16px;
    font-family: Roboto;
    margin-top: 80px;
}
footer h5 {
    font-size: 18px;
    font-weight: bold;
}
footer ul {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;

}
footer ul li {
    margin-bottom: 30px; /* Listenin içindeki madde işaretleri arasındaki boşluğu arttırma */
}

/* Telif hakkı bölümündeki linkler */
footer .col-md-6 a {
    color: #E2E8F0; /* Diğer yazılarla aynı renk */
    text-decoration: none; /* Link altı çizgisini kaldır */
    margin-right: 15px; /* Linkler arasında boşluk bırak */
}

/* Linklerin hover durumunda renk değiştirmesi */
footer .col-md-6 a:hover {
    color: #007bff; /* Hover durumunda renk değiştir */
}

/* Dil seçici (EN) ve simge stillemesi */
.lang-switcher {
    color: #E2E8F0; /* Diğer yazılarla aynı renk */
    font-size: 18px;

}
.lang-switcher:hover {
    color: #007bff; /* Hover durumunda renk değiştir */
}

.app-store-google-play-icons img {
    margin-bottom: 10px;
}

.social-media-icons a {
    color: #fff; /* Sosyal medya ikonlarının rengi beyaz */
    font-size: 24px; /* İkon boyutu 24 piksel */
    margin-right: 10px; /* İkonlar arasında 10 piksel sağ boşluk */
}

/* İkonların üzerine gelindiğinde rengin değişmesi için */
.social-media-icons a:hover {
    color: #007bff; /* Hovr durumunda ikon rengi mavi olacak */
}
/* FOOTER END */